# Tauri v2
/target/
/dist/
/tauri.conf.json
/tauri.js

# SvelteKit / Svelte / Vite
/node_modules/
/build/
.svelte-kit/
package
yarn.lock


# Common
.DS_Store
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# VSCode
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide


# Cargo
debug/
target/
Cargo.lock

# rustfmt configuration
**/*.rs.bk

# Rust
*.pdb



